@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');

*




:root{

    --branco: #ffe5ecff;
    --rosa: #ffc2d1ff;
    --rosa2: #ffb3c6ff;
    --rosa-forte: #ff8fabff;
    --rosa-forte2: #fb6f92ff; 
   --fonte-titulo: "Dancing Script", cursive;
    --fonte-texto:  "Edu AU VIC WA NT Dots", cursive;
}

body{
    background-color: var(--rosa);
    font-family: var(--fonte-texto);
}

  .cabecalho{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--rosa-forte);
  }
  .cabecalho-link:hover{
    color: var(--branco-fraco-rosa);
    font-size: 1,9em;
    transition: 0,3s;
  }
  .principal-capa{
    background-color:var(--rosa-fraco);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1,5em

  }
  .principal-capa_titulo{
   font-size: 5em;
   font-family: var(--fonte-titulo);
  }
  .principal-capa_texto{
    font-size: 3em;
  }
  .principal-capa_img{
    width: 30%;
    border-radius: 10px;
  }
  .principal-capa_combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  .principal-capa_botao{
    background-color: var(--branco);
    text-decoration: nome;
    padding: 1,3em;
    color: var(--rosa);
    margin-top: 2em;
    border-radius: 10px;
    font-size: 1,2em;
  }